# This file serves as documentation for config parameters of delta
# style printers. One may copy and edit this file to configure a new
# delta printer. Only parameters unique to delta printers are
# described here - see the "example.cfg" file for description of
# common config parameters.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.
#
# OULWare PrinterController v1.0 + DUE
#    - TMC2130 on XYZ axis!
#    - DRV8825 for E0 & E1
#
#  === DRIVERS ===
#
#  -------------------
#  | X | End MIN | D54
#  | X | End MAX | D55
#  | Y | End MIN | D56
#  | Y | End MAX | D57
#  | Z | End MIN | D58
#  | Z | End MAX | D59
#  -------------------
#
# === HEATERS ===
# | AUX | D9 |
# | BED | D8 |
# | E0  | D7 |
# | E1  | D6 |
#
# === THERMISTORS ===
# | T0    | A9  |
# | T1    | A10 |
# | T2    | A11 |
# | TC CS | D47 |
#
# === FAN ===
# | FAN0 | D10 |
# | FAN1 | D11 |
# | FAN2 | D12 |
# | FAN3 | D13 |
#
# === STEPPER X ===
# | STEP | D38 |
# | DIR  | D36 |
# | EN   | D40 |
# | CS   | D34 |
#
# === STEPPER Y ===
# | STEP | D28 |
# | DIR  | D26 |
# | EN   | D30 |
# | CS   | D32 |
#
# === STEPPER Z ===
# | STEP | D23 |
# | DIR  | D29 |
# | EN   | D25 |
# | CS   | D27 |
#
# === STEPPER E1 ===
# | STEP | D44 |
# | DIR  | D42 |
# | EN   | D46 |
# | CS   | D48 |
#
# === STEPPER E2 ===
# | STEP | D33 |
# | DIR  | D31 |
# | EN   | D35 |
# | CS   | D37 |
#
# === STEPPER E3 ===
# | STEP | D41 |
# | DIR  | D39 |
# | EN   | D43 |
# | CS   | D45 |
#
#
#
[driver tmc2130_a]
type:               TMC2130
#step_distance:      0.0025
steps_per_mm:       160
# SPI
ss_pin:             ar34
spi_mode:           3
spi_speed:          4000000
# config
current:            1000.0
microsteps:         32
mode :              stealthChop
diag0_out:          temp_prewarn
diag1_out:          stall
diag0_active_high:  1
diag1_active_high:  1
interpolate:        1
sensor_less_homing: 0
stealth_max_speed:  60
stall_threshold:    19

[driver tmc2130_b]
type:               TMC2130
steps_per_mm:       160
# SPI
ss_pin:             ar32
spi_mode:           3
spi_speed:          4000000
# config
current:            1000.0
microsteps:         32
mode :              stealthChop
diag0_out:          temp_prewarn
diag1_out:          stall
diag0_active_high:  1
diag1_active_high:  1
interpolate:        1
sensor_less_homing: 0
stealth_max_speed:  60
stall_threshold:    19

[driver tmc2130_c]
type:               TMC2130
steps_per_mm:       160
# SPI
ss_pin:             ar27
spi_mode:           3
spi_speed:          4000000
# config
current:            1000.0
microsteps:         32
mode :              stealthChop
diag0_out:          temp_prewarn
diag1_out:          stall
diag0_active_high:  1
diag1_active_high:  1
interpolate:        1
sensor_less_homing: 0
stealth_max_speed:  60
stall_threshold:    19

[driver DVR8825]
type:               DVR8825
microsteps:         32


# The stepper_a section describes the stepper controlling the front
# left tower (at 210 degrees). This section also controls the homing
# parameters (homing_speed, homing_retract_dist) for all towers.
[stepper_a]
step_pin:           ar38
dir_pin:            ar36
enable_pin:         !ar40
endstop_pin:        ar58
steps_per_mm:       160
position_endstop:   298.13
#position_min:       0
#position_max:       200
homing_retract_dist:10
homing_offset:      0
homing_speed:       60
homing_direction:   min
arm_length : 268
driver:             tmc2130_a
;driver: drv8825

# The stepper_b section describes the stepper controlling the front
# right tower (at 330 degrees).
[stepper_b]
step_pin:           ar28
dir_pin:            ar26
enable_pin:         !ar30
endstop_pin:        ar56
steps_per_mm:       160
position_endstop:   298.13
#position_min:       0
#position_max:       200
homing_retract_dist:10
homing_offset:      0
homing_speed:       60
homing_direction:   min
driver:             tmc2130_b
;driver: drv8825

# The stepper_c section describes the stepper controlling the rear
# tower (at 90 degrees).
[stepper_c]
step_pin:           ar23
dir_pin:            ar29
enable_pin:         !ar25
endstop_pin:        ar54
steps_per_mm:       160
position_endstop:   298.13
#position_min:       0
#position_max:       200
homing_retract_dist:10
homing_offset:      0
homing_speed:       60
homing_direction:   min
driver:             tmc2130_c
;driver: drv8825

########################################
[extruder0]
step_pin:           ar44
dir_pin:            ar42
enable_pin:         !ar46
steps_per_mm:       480.00
nozzle_diameter:    0.400
filament_diameter:  1.750
heater:             heater 0

[SKIP_extruder1]
step_pin:           ar33
dir_pin:            ar31
enable_pin:         !ar35
steps_per_mm:       791.86
nozzle_diameter:    0.400
filament_diameter:  1.750
heater:             heater 0

[SKIP_extruder2]
step_pin:           ar41
dir_pin:            ar39
enable_pin:         !ar43
steps_per_mm:       791.86
nozzle_diameter:    0.400
filament_diameter:  1.750
heater:             heater 0

########################################
[sensor hotend1_ntc]
sensor_type:        NTC 100K beta 3950
sensor_pin:         analog9
min_temp:           0
max_temp:           300

[sensor bed_ntc]
sensor_type:        NTC 100K beta 3950
sensor_pin:         analog10
min_temp:           0
max_temp:           120

########################################
[heater 0]
sensor:             hotend1_ntc
heater_pin:         ar7
control:            pid
pid_Kp:             14.720
pid_Ki:             0.506
pid_Kd:             107.086
#*** Thermal protection
protect_period_heat:        20
protect_hysteresis_heat:    2
protect_period:             10
protect_hysteresis_runaway: 10

[heater bed]
sensor:             bed_ntc
heater_pin:         ar8
control:            pid
pid_Kp:             22.2
pid_Ki:             1.08
pid_Kd:             114
#*** Thermal protection
protect_period_heat:        20
protect_hysteresis_heat:    4
protect_period:             10
protect_hysteresis_runaway: 10

[fan 0]
pin: ar10

[heater_fan heater 0]
pin:                ar11
max_power:          1.0
kick_start_time:    0.1
hard_pwm:           0
heater:             heater 0
heater_temp:        50.0
fan_speed:          1.0

[mcu]
serial:         /dev/ttyACM0
#serial:             /tmp/klipper_host_mcu
baud:               115200
pin_map:            arduino
restart_method:     command

[printer]
kinematics:         delta
max_velocity:       150
max_accel:          3000
max_z_velocity:     150
delta_arm_length:   268
delta_radius:       115
motor_off_time:     600
require_home_after_motor_off: false
allow_move_without_home:      true
;sw_limit_check_enabled:       false

[virtual_sdcard]
path:           ~/.octoprint/uploads/
path:           ~/gcode/uploads/

[reprapgui]
name:           OULWare Kossel
http:           20000
